<p id="notice"><%= notice %></p>

<p>
  <strong>Src:</strong>
  <%= @shop.src %>
</p>

<p>
  <strong>Lang:</strong>
  <%= @shop.lang %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @shop.desc %>
</p>

<%= link_to 'Edit', edit_shop_path(@shop) %> |
<%= link_to 'Back', shops_path %>
